opencv-python
six
typing-extensions>=3.6.2.1
protobuf==3.16.0
onnx
scikit-learn==0.24.1
pandas==1.2.1
pytest==6.2.2
tabulate==0.8.9
pylint
yapf
torchsummary
dvc[gs]
onnxruntime
skl2onnx
scipy==1.5.0
bayesian-optimization
matplotlib
numpy>=1.21.0
transformers
notebook
